.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.calendar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.calendar-month-label {
  line-height: 48px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  /*text-transform: uppercase;*/
}

.day-label-container {
  margin: 6px 0 2px;
}

.day-label {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
  color: #888;
  text-align: center;
}