.footer-container {
  position: fixed !important;
  /*width: 100%;*/
  left: 0;
  right: 0;
  bottom: 0;
  padding: 7px 12px;
  border-top: solid thin lightgray;
}

.footer-container-inner {
  display: flex;
  flex-direction: row-reverse;
}

.footer-dummy {
  height: 50px;
  background: black;
}